@CHARSET "ISO-8859-1";
body{
font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color:#000000;
  background: #eee; 

}
label {
    background: #eee;
    display: block;
    float: left;
    font-size: 13px;
    height: 16px;
    margin: 0 10px 0 0;
    padding: 3px 7px;
    width: 100px;
}

input [type=number]{
    background-color: #eee;
    border: 1px solid #0e0e0c;
    height: 30px;
    width: 500px;
}
input[type=checkbox]{
 height: 15px;
    padding: 7px;
    width: 200px;
	position:center;	
}
input [type=submit]{
    height: 22px;
    padding: 7px;
    width: 200px;
    position:right;
	
}