@CHARSET "ISO-8859-1";
.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

.check-element {
  border: 1px solid black;
  opacity: 1;
  padding: 10px;
}
table
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body{
font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color:#000000;
  background: #eee; 

}
label {
    background: #eee;
    display: block;
    float: left;
    font-size: 13px;
    height: 16px;
    margin: 0 10px 0 0;
    padding: 3px 7px;
    width: 100px;
}

input [type=number]{
    background-color: #eee;
    border: 1px solid #0e0e0c;
    height: 30px;
    width: 500px;
}
input[type=checkbox]{
 height: 15px;
    padding: 7px;
    width: 200px;
	position:center;	
}
input [type=submit]{
    height: 22px;
    padding: 7px;
    width: 200px;
    position:right;
	
}

select {
    background-color: #FFFFF;
    border: .5px solid #0e0e0c;
    height: 22px;
     width: 200px;
}